@import url("https://uilight.netlify.app/main.css");


#products{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: center;
    padding: 25px;
}

img{
    max-height:200px;
}

#search-bar{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid blue;
    color: white;
    height: 25px;
}

#search-bar::placeholder{
    color: white;
}